.container{ style: 'margin-top: 10px'}
  .list-group
    .list-group-item
      = simple_form_for @link do |f|
        %form
          .form-group
            %h5
              Add your link:
          .form-group
            = f.input :link, input_html: { :class => "form-control #{'is-invalid' if f.object.errors[:link].any?}" }, placeholder: "Enter link without https://"
          .form-group
            = f.input :tag_list, input_html: { :class => 'form-control' }, placeholder: "Enter tag"
          .form-group
            = f.input :link_descrition, input_html: { :class => 'form-control' }, placeholder: "Enter description"
          %p
          - if @link.persisted?
            = f.button :submit, label: 'Update link', class:"btn btn-outline-success"
          - else
            = f.button :submit, label: 'Save link', class:"btn btn-outline-success"
