- if @tag.present?
  %div.container{ style: 'margin-top: 10px'}
    %h4
      = "Your filter by this tag: #{@tag}"
-else
.row
  - @links.each do |link|
    .card.col-md-5.mr-3{ style: 'margin-top: 10px'}
      .card-body
        %h5.card-title
          = link_to "#{link.link}", "https://#{link.link}", target: '_blank'
        %h6.card-subtitle.mb-2.text-muted
          = 'Tags:'
          - if link.tag_list.present?
            - link.tag_list.each do |tag|
              = link_to tag, tagged_path(tag: tag)
          -else
            = 'tag is empty'
        %p.card-text
          = link.link_descrition
        %div.row
          %div.col-sm
            = button_to 'Update link', edit_link_path(link), method: :get, class: "card-link btn btn-outline-primary"
          %div.col-sm
            = button_to 'Delete link', link_path(link), method: :delete, class: "card-link btn btn-outline-danger"
%div.d-flex.p-2.justify-content-center{ style: 'margin-top: 10px'}
  = paginate @links, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm", nav_class: "d-inline-b"
